<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shopify Metafields Editor</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- icons -->
  <link rel="shortcut icon" href="../assets/favicon.png">
  <link rel="apple-touch-icon" href="../assets/shopify-57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/shopify-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/shopify-114.png">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <% if shop_session %>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="navbar-header">
          <a class="navbar-brand" href="/">Shopify Metafields Editor</a>
       </div>
      <ul class="nav navbar-nav">
        <li><%= link_to("Products", products_path) %></li>
        <li><%= link_to("Collections", collections_path) %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to raw('Logout'), logout_path, :method => :delete %></li>
      </ul>
    </nav>
  <% end %>

  <div class="container" style="padding-top: 50px;">
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type %>"><%= message %></div>
        <% end %>
      </div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
